%section.footer
  .container
    .pull-left
      © 2015 Big-Two Scoreboard

    .pull-right
      jiunjiun /
      quietmes@gmail.com

    %span.logo
      -# = image_tag("icon/icon_b_32.png", alt: "Big-Two Scoreboard", class: "logo")
